###

Un experimento consta de tres pasos; para el primer paso hay tres resultados posibles, para el segundo hay dos resultados posibles y para el tercer paso hay cuatro resultados posibles. ¿Cuántos resultados distintos hay para el experimento completo?

In [2]:
A=3
B=2
C=4
T=A*B*C
T

24

¿De cuántas maneras es posible seleccionar tres objetos de un conjunto de seis objetos? Use las letras A, B, C, D, E y F para identificar a los objetos y enumere todas las combinaciones diferentes de tres objetos.

In [5]:
def factorial(n):
    if n<=1:
         T=1
    else:
        T=n*factorial(n-1)
    return T

In [7]:
def combinaciones(N,k): #N conjunto 
    return int(factorial(N)/(factorial(N-k)*factorial(k)))

In [9]:
combinaciones(6,3)

20

¿Cuántas permutaciones de tres objetos se pueden seleccionar de un grupo de seis objetos? Use las letras A, B, C, D, E y F para identificar a los objetos y enumere cada una de las permutaciones factibles para los objetos B, D y F.

In [10]:
def permutaciones(N,n):
    return factorial(N)/factorial(N-n)

In [11]:
permutaciones(6,3)

120.0

Suponga que un experimento tiene cinco resultados igualmente posibles: E1, E2, E3, E4 y E5. Asigne probabilidades a los resultados y muestre que satisfacen los requerimientos expresados por las ecuaciones (4.3) y (4.4). ¿Qué método empleó?

In [14]:
E1=1/5
E2=1/5
E3=1/5
E4=1/5
E5=1/5 
T=E1+E2+E3+E4+E5
T #Se empleo el método de Método Clásico

1.0

Un experimento que tiene tres resultados es repetido 50 veces y se ve que E1 aparece 20 veces, E2 13 veces y E3 17 veces. Asigne probabilidades a los resultados. ¿Qué método empleó?

In [17]:
E1=20/50
E2=13/50
E3=17/50
T=E1+E2+E3
T  #Se empleo el método de frecuencía relativa

1.0

La persona que toma las decisiones asigna las probabilidades siguientes a los cuatro resultados de un experimento: P(E1)   0.10, P(E2)   0.15, P(E3)   0.40 y P(E4)   0.20. ¿Son válidas estas asignaciones de probabilidades? Argumente.

In [19]:
E1=0.10
E2=0.15 
E3=0.40 
E4=0.20
T=E1+E2+E3+E4
T #No es valido de acuerdo a los requerimientos básicos para la asignación de probabilidades

0.8500000000000001

En una ciudad las solicitudes de cambio de uso de suelo pasan por un proceso de dos pasos: una revisión por la comisión de planeación y la decisión final tomada por el consejo de la ciudad. En el paso 1 la comisión de planeación revisa la solicitud de cambio de uso de suelo y hace una recomendación positiva o negativa respecto al cambio. En el paso 2 el consejo de la ciudad revisa la recomendación hecha por la comisión de planeación y vota para aprobar o desaprobar el cambio de suelo. Suponga que una empresa dedicada a la construcción de complejos departamentales presenta una solicitud de cambio de uso de suelo. Considere el proceso de la solicitud como un experimento. ¿Cuántos puntos muestrales tiene este experimento? Enumérelos. Construya el diagrama de árbol del experimento.

In [20]:
P1=(1,0) 
P2=(1,0)
2*2

4

El muestreo aleatorio simple usa una muestra de tamaño n tomada de una población de tamaño
N para obtener datos para hacer inferencias acerca de las características de la población. Suponga que, de una población de 50 cuentas bancarias, desea tomar una muestra de cuatro cuentas con objeto de tener información acerca de la población. ¿Cuantas muestras diferentes de cuatro cuentas pueden obtener?

In [21]:
combinaciones(50,4)

230300

10. El capital de riesgo es una fuerte ayuda para los fondos disponibles de las empresas. De acuerdo con Venture Economics (Investor’s Business Daily, 28 de abril de 2000) de 2374 desembolsos en capital de riesgo, 1434 son de empresas en California, 390 de empresas en Massachussets, 217 de empresas en Nueva York y 112 de empresas en Colorado. Veintidós por ciento de las empresas que reciben fondos se encuentran en las etapas iniciales de desarrollo y 55% en la etapa de expansión. Suponga que desea tomar en forma aleatoria una de estas empresas para saber cómo son usados los fondos de capital de riesgo.

In [23]:
import pandas as pd

In [58]:
#a. ¿Cuál es la probabilidad de que la empresa que seleccione sea de California?
Cali=1434
T=2374
print(Cali/T)
#b. ¿De que la empresa no sea de ninguno de los estados citados?
Otros=221
print(Otros/T)
#c. ¿De que la empresa elegida no se encuentre en las etapas iniciales de desarrollo?
#22% EI y 55% EE
R=(1-0.22-0.55)
print(0.55+R)
#d.Si admite que las empresas en las etapas iniciales de desarrollo tuvieran una distribución
#homogénea en todo el país, ¿cuántas empresas de Massachussets que reciben fondos de capital 
#de riesgo se encuentran en las etapas iniciales de desarrollo?
Mass=390*0.22
print(Mass)
#e. La cantidad total de fondos invertidos es $32.4 mil millones. Estime la cantidad destinada
#a Colorado.
Col=112/T
MonCol=Col*32.4
print(MonCol)

0.6040438079191238
0.09309182813816344
0.78
85.8
1.5285593934288122

La National Highway Traffic Safety Administration (NHTSA) realizó una investigación para saber si los conductores de Estados Unidos están usando sus cinturones de seguridad (Associated Press, 25 de agosto de 2003). Los datos muestrales fueron los siguientes.
a. ¿Cuál es la probabilidad de que en Estados Unidos un conductor lleve puesto el cinturón?
b. Un año antes, la probabilidad en Estados Unidos de que un conductor llevara puesto el cinturón era 0.75. El director de NHTSA, doctor Jeffrey Runge esperaba que en 2003 la probabilidad llegara a 0.78. ¿Estará satisfecho con los resultados del estudio del 2003?
c. ¿Cuál es la probabilidad de que se use el cinturón en las distintas regiones del país? ¿En qué región se usa más el cinturón?
d. En la muestra, ¿qué proporción de los conductores provenía de cada región del país? ¿En
qué región se seleccionaron más conductores? ¿Qué región viene en segundo lugar?
e. Si admite que en todas las regiones la cantidad de conductores es la misma, ¿ve usted alguna razón para que la probabilidad estimada en el inciso a sea tan alta? Explique.

In [59]:
tabla=pd.DataFrame({'si':[148, 162, 296, 252],
                    'no':[52, 54, 74, 48]})
index_=['Norte','Noreste','Sur','Centro']
tabla.index=index_
tabla

          si  no
Norte    148  52
Noreste  162  54
Sur      296  74
Centro   252  48

In [60]:
tabla_p=tabla.apply(lambda x: x/(tabla['si']+tabla['no']).sum())
tabla_p['Total']=tabla_p['si']+tabla_p['no']
tabla_p=tabla_p.rename(index={5: 'Total'})
tabla_p.loc['TotalT']=(sum(tabla_p['si']),sum(tabla_p['no']),sum(tabla_p['Total']))
tabla_p

               si        no     Total
Norte    0.136280  0.047882  0.184162
Noreste  0.149171  0.049724  0.198895
Sur      0.272560  0.068140  0.340700
Centro   0.232044  0.044199  0.276243
TotalT   0.790055  0.209945  1.000000

En Estados Unidos hay una lotería que se juega dos veces por semana en 28 estados, en las Islas Vírgenes y en el Distrito de Columbia. Para jugar, debe comprar un billete y seleccionar cinco números del 1 al 55 y un número del 1 al 42. Para determinar al ganador se sacan 5 bolas blancas entre 55 bolas blancas y una bola roja entre 42 bolas rojas. Quien atine a los cinco números de bolas blancas y al número de la bola roja es el ganador. Ocho trabajadores de una empresa tienen el récord del mayor premio, ganaron $365 millones al atinarle a los números 15-17-43-44-49 de las bolas blancas y al 29 de las bolas rojas. En cada juego hay también otros premios. Por ejemplo, quien atina a los cinco números de las bolas blancas se lleva un premio de $200 000 (www.powerball.com, 19 de marzo de 2006).

In [73]:
#a. ¿De cuántas maneras se pueden seleccionar los primeros cinco números?
print(combinaciones(55,5))
#b. ¿Cuál es la probabilidad de ganar los $200 000 atinándole a los cinco números de bolas
#blancas?
print((1/55)*(1/54)*(1/53)*(1/52)*(1/51),'proba')  #Esta yo pensé que era así
print(1/combinaciones(55,5)) #Esta es la buena
#c. ¿Cuál es la probabilidad de atinarle a todos los números y ganar el premio mayor?
TP=(1/combinaciones(55,5))*(1/combinaciones(42,1))
print(TP)

3478761
2.3954888919742785e-09 proba
2.874586670369134e-07
6.844253977069367e-09

Una empresa que produce pasta de dientes está analizando el diseño de cinco empaques diferentes.
Suponiendo que existe la misma posibilidad de que los clientes elijan cualquiera de los empaques, ¿cuál es la probabilidad de selección que se le asignaría a cada diseño de empaque? En un estudio, se pidió a 100 consumidores que escogieran el diseño que más les gustara. Los resultados
se muestran en la tabla siguiente.

In [1]:
import pandas as pd

In [4]:
DiseñoEmpaques={'Diseño':[1,2,3,4,5],
                'Número de veces fue elegido':[5,15,30,40,10]}
df=pd.DataFrame(DiseñoEmpaques)
df

   Diseño  Número de veces fue elegido
0       1                            5
1       2                           15
2       3                           30
3       4                           40
4       5                           10

In [5]:
#¿cuál es la probabilidad de selección que se le asignaría a cada diseño de empaque?
print(1/5)
#¿Confirman estos datos la creencia de que existe la misma posibilidad de que los 
# clientes elijan cualquiera de los empaques? Explique

0.2